 footer{
	 text-align:center;
	background-color:#222;
	color:#FFFFFF;
	padding-top:20px;
	padding-bottom:10px;
}
body {
	padding-top: 50px;
}
main{
	padding-bottom: 20px;
}

#home{
	background-image: url("../src/header.jpeg");
	padding-top:150px;
	padding-bottom:150px;
	background-repeat: no-repeat;
  background-size: cover;
}
#proyectos{
	background-image: url("../src/proyectos.jpg");
	padding-top:110px;
    padding-bottom:110px;
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	padding-top:50px;
}
#btnProyectos{
	padding-top:20px;
	padding-bottom:20px;
	font-size:30px;
}
.proyecto{
	background-repeat: no-repeat;
	background-size: cover;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}
#sectionProyectos{
	text-align:center;
}
#sectionProyectos .btn{
	padding-left:10%;
	padding-right:10%;
}

h1,h2,h3,#btnProyectos{
	font-family: 'Saira Extra Condensed', sans-serif;
}
h1,h2,h3,nav,#btnProyectos{
	text-transform:uppercase;
}
h1,h2{
	text-align:center;
	color:#FFFCFF;
}
h1{
	font-size:60px;
}

h2{
	font-size:36px;
}
h3{
	font-size:30px;
}