 footer{
	 text-align:center;
 }
 h1,h2,h3{
	 text-align:center;
	 text-transform: uppercase;
 }
#mifoto{
	border-radius:15%;
}
body{
	background-color:#404040;
	color:#FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
}
footer{
	background-color:#F6F6F6;
	color:#404040;
	padding-top:20px;
	padding-bottom:10px;
}
#proyectos{
	padding-top:15px;
	padding-bottom:15px;
	background-color:#A122DB;
	border-radius:6%;
	width:10%;
}
#proyectos:hover{
	background-color: #9720CF;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-weight:bold;
}

nav a{
	text-transform:uppercase;
	float:left;
	display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
	background-color:#111;
}
h1{
	padding-top:7%;
	padding-bottom:7%;
}
#body_proyectos ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#body_proyectos ul li{
	padding-top:5%;
	padding-bottom:5%;
}
#spaceranger{
	background-image:url("../src/spaceranger.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100%;
	background-position: right top;
}