 footer{
	 text-align:center;
 }
 h3{
	 text-align:center;
	 text-transform: uppercase;
 }
#mifoto{
	border-radius:15%;
}
body{
	background-color:#404040;
	color:#FFFFFF;
}
footer{
	background-color:#F6F6F6;
	color:#404040;
	padding-top:20px;
	padding-bottom:10px;
}
#proyectos{
	padding-top:15px;
	padding-bottom:15px;
	background-color:#A122DB;
	border-radius:6%;
	width:10%;
}
#proyectos:hover{
	background-color: #9720CF;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav a{
	float:left;
	display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
	background-color:#111;
}
h1{
	text-align:center;
	padding-top:5%;
}
#cabecera{
	background-image: url("../src/cabecera.jpg");
}